:root {
  --bg-color: white;
  --text-color: black;

  --main-width: 430px;
  --line-height: 145%;
  --padding: 24px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --bg-color: rgb(14, 14, 26);
    --text-color: rgb(255, 255, 255);
  }
} */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
}

main {
  max-width: var(--main-width);
  margin: auto;
  margin-top: var(--padding);

  padding: var(--padding);
}

img {
  width: var(--main-width);
}

h1 {
  font-size: 2.5em;
}

p {
  line-height: var(--line-height);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--bg-color);
  padding: var(--padding);
}

.menu {
  position: fixed;
  display: none;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: var(--padding);
}

.header > a {
  color: var(--text-color);
  text-decoration: none;
}

.menu > a {
  display: block;
  color: var(--link-color);
  text-decoration: none;

  padding-bottom: var(--padding);
}

@media (min-width: 920px) {
  /* Show menu */
  .menu {
    display: block;
  }

  /* Transparent header */
  .header {
    background-color: rgba(0, 0, 0, 0);
  }
}
