:root {
  --bg-color: white;
  --text-color: black;

  --link-weight: 500;
  --heading-weight: 480;
  --main-width: 460px;
  --line-height: 133%;
  --padding: 24px;
  --padding-2: 48px;
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: rgb(0, 0, 0);
    --text-color: rgb(255, 255, 255);
  }
} */

* {
  font-size: small;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--bg-color);
  color: var(--text-color);

  margin: 0px;
}

main {
  /* margin-top: var(--padding); */

  padding: var(--padding);
}

article {
  max-width: var(--main-width);

  margin: auto;
}

img {
  width: var(--main-width);
}

h1 {
  font-size: 1.5em;
  margin-bottom: 42px;
  margin-top: 0px;
  /* margin-top: 42px; */
}

h5 {
  font-weight: var(--heading-weight);
}

p {
  line-height: var(--line-height);
}

.header {
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0; */

  position: static;
  border-bottom: 1px solid black;
  background-color: var(--bg-color);
  padding: var(--padding);
}

.menu {
  position: fixed;
  display: none;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  padding: var(--padding);
}

.header > a {
  color: var(--text-color);
  font-weight: var(--link-weight);
  text-decoration: none;
}

.menu > a,
.index > a {
  display: block;
  color: var(--text-color);
  font-weight: var(--link-weight);
  text-decoration: none;

  margin-bottom: var(--padding);
}

.index > a {
  font-size: 3vmax;
  text-decoration: underline;
  font-weight: var(--heading-weight);
}

.writing {
  margin-top: 40vh;
  transform: translateY(-50%);
}

/* Large Tablet + Desktops */
@media (min-width: 770px) {
  /* Show menu */
  .menu {
    display: block;

    width: 176px;
  }

  /* Transparent Fixed header */
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
  }

  /* Article fixed left */
  article {
    margin-left: 220px;
  }
}
